<p style="color: green"><%= notice %></p>

<%= render @user %>

<div class="d-flex justify-content-center mt-3">
  <%= link_to "Edit ton profil", edit_user_path(@user), class: "btn btn-primary mr-2" %>
  <%= button_to "Détruit ton profil", @user, method: :delete, class: "btn btn-secondary" %>
</div>
