<div class="container">
  <h1 class="display-4">Editing Event</h1>

  <%= render "form", event: @event %>

  <div class="mt-3">
    <%= link_to "Show this event", @event, class: "btn btn-primary" %>
    <%= link_to "Back to events", events_path, class: "btn btn-secondary" %>
  </div>
</div>
