<!DOCTYPE html>
<html>
<head>
  <title>New Event</title>
  <link rel="stylesheet" href="styles.css"> <!-- Incluez votre fichier CSS ici -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">New Event</h1>
            <%= render "form", event: @event %>
            <br>
            <div class="text-center">
              <%= link_to "Back to events", events_path, class: "btn btn-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
