<!DOCTYPE html>
<html>
<head>
  <title>Show Event</title>
  <link rel="stylesheet" href="styles.css"> <!-- Incluez votre fichier CSS ici -->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center">Event Details</h1>
            <div class="event-details">
              <%= render @event %>
            </div>
            <div class="actions">
              <%= link_to "Modifie ton event", edit_event_path(@event), class: "btn btn-primary" %>
              <%= link_to "Retour aux events", events_path, class: "btn btn-secondary" %>
              <%= button_to "Détruit ton event", @event, method: :delete, data: { confirm: "Sur de toi ?" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
