<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="text-center">Hello, <%= @email %>!</h2>

          <p class="text-center">
            <% if @resource.try(:unconfirmed_email?) %>
              We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.
            <% else %>
              We're contacting you to notify you that your email has been changed to <%= @resource.email %>.
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
